Source: qgroundcontrol
Section: electronics
Priority: optional
Maintainer: Daniel Agar <daniel@agar.ca>
Build-Depends:
 debhelper (>= 12),
 cmake,
 git,
 qttools5-dev-tools,
 qtbase5-dev,
 qtdeclarative5-dev,
 libqt5serialport5-dev,
 libqt5svg5-dev,
 libqt5webkit5-dev,
 qtquickcontrols2-5-dev,
 libqt5xmlpatterns5-dev,
 libqt5x11extras5-dev,
 libqt5websockets5-dev,
 libqt5sensors5-dev,
 qtscript5-dev,
 qtmultimedia5-dev,
 qtlocation5-dev,
 qtconnectivity5-dev,
 espeak,
 libespeak-dev,
 libudev-dev,
 libsdl2-dev,
 libmavlink-dev,
Standards-Version: 3.9.5
Homepage: https://github.com/mavlink/qgroundcontrol
Vcs-Git: git://github.com/mavlink/qgroundcontrol.git

Package: qgroundcontrol
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 espeak,
Description: Open Source Micro Air Vehicle Ground Control Station
