#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

%:
	dh $@ --buildsystem=qmake --builddirectory=build --parallel

override_dh_auto_clean:
	# Let's act as we would be a pure qmake project
	rm -f Makefile
	dh_clean -O--buildsystem=qmake

override_dh_auto_configure:
	dh_auto_configure -- CONFIG+=DISABLE_VIDEOSTREAMING CONFIG+=QGC_LINUX_DISABLE_QT_INSTALL MAVLINKPATH=/usr/include/mavlink/v2.0 MAVLINKPATH_REL=/usr/include/mavlink/v2.0 ../qgroundcontrol.pro

override_dh_missing:
	dh_missing --fail-missing
